<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente</title>
</head>
<body>
    <form action="/cliente/resposta" method="post" >
        <input type="text" name="nome" placeholder="nome">
        <input type="text" name="cpf" placeholder="cpf">
        <input type="text" name="telefone" placeholder="telefone">
        <button type="submit">Salvar</button>
    </form>   
</body>
</html>